.navTabs {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    text-decoration: none;
    background-color: black;
    transition: background-color 0.3s ease;
}

.navTabsImage {
    display: none;
    background: black;
    padding-top: 2px;
    padding-left: 4px;
}

.nav-item:hover {
    background-color: #454141;
}

.nav-item {
    color: white;
    cursor: pointer;
    padding: 6px;
}

.item-container, .item-container2, .item-container3 {
    display: flex;
    overflow: hidden;
}

.item-container3 {
    flex-direction: column;
}

.item-first, .item-third {
    flex-grow: 1;
}

.item-second {
    flex-grow: 3;
}

.item.item-three {
    flex-shrink: 4;
}

.item {
    background-color: #9a3434;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    flex-shrink: 1;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover {
    background-color: #850000;
}

.button {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.pulse {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    animation: pulse 3s infinite;
    margin-top: 20px;
    cursor: pointer;
}

body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #9a3434;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 40px 20px;
    margin-bottom: 5px;
    background-color: #fff;
}

.about {
    background-color: #fff4f4;
}

.hero {
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.hero .hero-content {
    max-width: 600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #4a4a4a;
}

table th, table td {
    padding: 10px;
    border: 1px solid #4a4a4a;
    text-align: left;
}

table th {
    background-color: #9a3434;
    color: #fff;
}

table td img {
    max-width: 100px;
    height: auto;
}

.container, .container2 {
    display: block;
    padding: 0 40px;
}

.container2 {
    display: flex;
    justify-content: space-around;
}

.equipment-item {
    text-align: center;
}

footer {
    background-color: #9a3434;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.scroll-container {
    height: 50px;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: 14px;
}

.scroll {
    position: relative;
    animation: scroll-left 8s linear infinite;
    white-space: nowrap;
}

@keyframes scroll-left {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
